@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;


}

.instuctions {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 20px;
    margin: auto;
    max-width: 400px;
    max-height: 450px;
    font-size: 20px;
    
    p {
        font-size: 15px;
    }

}

#playersWord {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
#hintText {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.hint_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    max-height: 450px;
    margin: auto;
    padding: 15px;
    font-family: "Space Mono", monospace;
    font-size: 15px;
    color: #f78546;

}

.displayWord {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: auto;
    font-size: 60px;
    max-width: 400px;
    max-height: 450px;
    
}

.callSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;
}
.message {
    color: #755DA4;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;


}

.guessCount {
    display: flex;
    justify-content: center;
    margin: auto;
}

#image {
    border: 10px dotted white;
    margin: 20px 20px 20px 20px;
    padding: 20px;

}

section, #keyboard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row column;
    justify-content: center;
    flex-basis: auto;
    max-width: 400px;
    max-height: 450px;
    margin: auto;
    padding: 20px;
}

.alphabetBtn { 
    display: flexbox;
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
    margin: 0 5px 5px 0;
    list-style: none;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    color: black;
    background-color: #82c6ce;
    border: solid white;
    border-radius: 10px;
    font-family: "Space Mono", monospace;

}



.alone_astro{
    display: flex;
    justify-content: flex-end;
    
}
#astro {
    max-width: 30%;
    max-height: 30%;
}

.buttons {
display: flex;
justify-content: center;
align-items: center;

}
#startBtn {
    border: 5px solid #F78546 ;
    border-radius: 25px;
    background-color: #755DA4;
    margin: auto; 
    padding: 10px;
    color: white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 60px;
   font-family: "Space Mono", monospace;
    
}


#resetBtn {
    border: 5px solid #F78546 ;
    border-radius: 25px;
    background-color: #755DA4;
    margin: auto; 
    padding: 10px;
    color: white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 60px;
   font-family: "Space Mono", monospace;

}
