body {
    background-color: black;
    color: white;
    display: flex;

}

.instuctions {
    color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 5px;
    margin: auto;

    p {
        font-size: 20px;
    }

}

.message {
    color: #755DA4;
    font-size: 40px;
    display: flex;
    justify-content: center;


}


#image {
    border: 10px dotted white;
    margin: auto;
    padding: 5px;
}

#alphabet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alphabetbtn { 
    display: flexbox;
    margin: 15px auto;
    padding: 0;
    max-width: 900px;
    margin: 0 5px 5px 0;
    list-style: none;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    color: black;
    background-color: #82c6ce;
    border: solid white;
    border-radius: 10px;
}